:root { 
--gray_50_01:#f8f8f8; 
--gray_50_02:#f7f9fd; 
--cyan_A200:#35fefc; 
--black_900_3f:#0000003f; 
--green_A200:#64ffaf; 
--orange_300_01:#ffc64a; 
--gray_50:#f7fafc; 
--black_900:#000000; 
--yellow_700:#feb81c; 
--red_A400:#ff2727; 
--deep_purple_A400:#3c1cff; 
--gray_800_3f:#45454f3f; 
--blue_gray_900:#2d3748; 
--orange_300_e0:#ffc64ae0; 
--black_900_05:#00000005; 
--yellow_700_d8:#feb81cd8; 
--orange_A100:#ffd16b; 
--gray_700:#666666; 
--blue_gray_200:#a0aec0; 
--blue_gray_400:#718096; 
--indigo_50:#e2e8f0; 
--gray_800:#3a3a3a; 
--gray_900:#001f33; 
--gray_300_27:#e0e1e227; 
--black_900_0c:#0000000c; 
--gray_300:#e0e1e2; 
--orange_300:#ffc649; 
--gray_300_00:#e0e1e200; 
--cyan_600:#15b9b9; 
--white_A700:#ffffff; 
--gray_700_01:#646474; 
}